<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <script src="https://unpkg.com/vue"></script>

   <title>Vue</title>
</head>
<body>

<div id="app">

   <form action="#" @submit.prevent="submit">
      <div>
         <label for="name">Name</label>
         <input type="text" id="name" v-model="form.name">
      </div>

      <div>
         <label for="email">Email</label>
         <input type="text" id="email" v-model="form.email">
      </div>

      <div>
         <label for="pass">Password</label>
         <input type="password" id="pass" v-model="form.password">
      </div>


      <button>register</button>

   </form>


</div>


<script>
   let app = new Vue({
      el: "#app",
      data: {
         form: {
            name: null,
            email: null,
            password: null
         }
      },
      methods: {
         submit() {
            console.log(this.form);
         }
      }

   });


</script>

</body>
</html>