<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <script src="https://unpkg.com/vue"></script>

   <title>Vue</title>
</head>
<body>

<div id="app">

   <!--<input type="checkbox" v-model="autoplay">-->

   <!--this is {{autoplay === true ? "enabled" : "disabled"}}-->
   <!--<form action="#" @submit.prevent="submit">-->
      <!--<div>-->
         <!--<input type="checkbox" value="bananas" v-model="choices"> Bananas-->

      <!--</div>-->

      <!--<div>-->
         <!--<input type="checkbox" value="soyamilk" v-model="choices"> Soya milk-->

      <!--</div>-->
      <!--<div>-->
         <!--<input type="checkbox" value="peanutbutter" v-model="choices"> Peanut butter-->

      <!--</div>-->

      <!--<button>submit</button>-->
   <!--</form>-->

   <form action="#" @submit.prevent="submit">

      <input type="radio" value="cats" v-model="choice"> Cats
      <input type="radio" value="dogs" v-model="choice"> Dogs
      <button>submit</button>
   </form>


</div>


<script>
   let app = new Vue({
      el: "#app",
      data: {
         // autoplay: true
         // choices: []
         choice: null

      },
      methods: {
         submit() {
            console.log(this.choice);
         }
      }

   });


</script>

</body>
</html>